//$primary-color: #C5C1C0;
$primary-color: #FEFEFE;
//$secondary-color: #0a1612;
$secondary-color: #f2f3f5;
$secondary-darker: #E3E3E3;
//$tertiary-color: #1a2930;
//$tertiary-color: #113E21;
$tertiary-color: #112620;
$tertiary-darker: #0C211B;
//$cta-color: #f7ce3e; 
//$cta-color: #b38b59;
//$cta-color: #D6AD60;
$cta-color: #B68D40;
$complementary-cream: #F4EBD0;
$admin-grey: #A8A8A8;
$admin-grey-lighter: #dcdcdc;
$grey-border: #dcdfe6;
$user-grey: #A6A6A6;
$admin-cta: $cta-color;
$admin-primary: $tertiary-color;
$text-color: #2c2c2c;

// boilerplate
*,
*::before,
*::after {
    box-sizing: border-box;
    border-radius: 0px !important;
    font-family: lato-regular;
}
img {
    display: block;
    max-width: 100%;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu,
ol,
ul {
    padding-left: 0;
}
article ol,
article ul {
    list-style-position: inside;
}
a {
    /*text-underline-position: under;
    text-decoration-thickness: 8;*/
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}
:focus:not(:focus-visible) {
    outline: none;
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}


@font-face { font-family: lato-regular;  src: url('../../fonts/Lato/Lato-Regular.ttf'); } 
@font-face { font-family: shadows-into-light;  src: url('../../fonts/Shadows_Into_Light/ShadowsIntoLight-regular.ttf'); }
@font-face { font-family: playfair-display;  src: url('../../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf'); }
@font-face { font-family: josefin; src: url('../../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'); }

body {
    background-color: $tertiary-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body.admin-body{
    background-color: $secondary-color;
}
body.checkout-body, body.cmp-body{
    background-color: $primary-color;
}

h1{
    color: $text-color;
    font-family: josefin;
    font-size: 4rem;
    margin-top: 0;
}

h2,h3 {
    color: $tertiary-color;
}

p {
    color: $text-color;
}

.container{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    padding: 5% 5% 150px 5%;
    position: relative;
    background-color: $secondary-color;
}